:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --primary-color: #757575;
  --secondary-color: #212121;
  --alternativ-color: #ffffff;
}
/*убирает нижнее подчёркивание*/
.link {
  text-decoration:none ;
}

  /*убирает маркер списка*/
  .list {
    list-style: none;
  }
html{
  box-sizing: border-box;
}


  /*убирает пустоту между картинками*/
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

/*курсор ладошка*/
button {
  cursor: pointer;
}
span {
  color: var(--secondary-color);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*бодик*/
body {
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 700;
  background-color: var(--alternativ-color);
  color: var(--primary-color);
  letter-spacing: 0.03em;
  line-height: 1.19;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}


/*=========СТУДИЯ=========*/
/*=====хедер=====*/
.header-page-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-page {
  border-bottom: 1px solid #ececec;
}
.header-nav {
  display: flex;
  align-items: center;
}
.menu,
.contact {
  display: flex;
  column-gap: 50px;
}

.logotyp {
  margin-right: 93px;
  font-family: var(--secondary-font);
  font-size: 26px;

  color: var(--accent-color);
}
/*секция меню*/

.menu-link {
  display: inline-block;
  padding-top:32px ;
  padding-bottom:32px ;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.contact-elem {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}
.contact-elem:hover,
.contact-elem:focus {
  color: var(--accent-color);
}
/*=====Герой=====*/

/*кнопка*/
.hero-modal-btn {
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  min-width: 216px;
  margin: 0 auto;
  padding-top: 8px;
  padding-bottom: 8px;

  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--secondary-color);
}
.hero-modal-btn:hover,
.hero-modal-btn:focus {
  background-color: var(--accent-color);
  color: var(--alternativ-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/*^^^кнопкин end^^^*/
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background: #2f303a;
  text-align: center;
}
.hero-title {
  width: 696px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: var(--alternativ-color);
}
/*=====презент=====*/
.present-container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.present-list {
  display: flex;
  align-items: baseline;
}
.present-elem:not(:last-child) {
  margin-right: 30px;
}
.present-elem {
  width: 270px;
}
.present-title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.present-tekst {
  font-weight: 400;
  line-height: 1.71;
}
/*=====worky=====*/

.worky-list {
  display: flex;
  justify-content: space-between;
}
.worky-container {
  padding-bottom: 94px;
}

/*=====(who)team=====*/
.section-title {
  margin-bottom: 50px;
  text-align: center;

  font-size: 36px;
  line-height: 1.17;
  color: var(--secondary-color);
}
.team {
  background: #f5f4fa;
}
.team-container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-list {
  display: flex;
  justify-content: space-between;
}
.team-pro {
  width: 270px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.team-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  color: var(--secondary-color);
}
.team-prof {
  font-weight: 400;
  font-size: 16px;
}
.team-elem{
  background: #FFFFFF;
    /* material shadow v1 */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
/*=====ноги=====*/
.foot {
  background: #2f303a;
}
.foot-container {
  padding-top: 60px;
  padding-bottom: 60px;
}
.logotyp-footer {
  margin-left: 0;
  width:145px;
  font-family: var(--secondary-font);
  font-size: 26px;

  color: var(--accent-color);
}
.address {
  width:241px;
  font-style: normal;
  margin-top: 20px;
}
.studi {
  font-family: var(--secondary-font);
  font-size: 26px;
  color: var(--alternativ-color);
}
.foot-map {
  font-weight: 400;
  line-height: 24px;
  color: var(--alternativ-color);
}
.foot-link {
  font-weight: 400;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}
.foot-link:hover,
.foot-link:focus {
  color: var(--accent-color);
}
/*=========ПОРТФОЛИО=========*/
.portfolio-container{
  padding-top:94px;
  padding-bottom:94px;
  margin: 0 auto;
}
.filtr-list,
.galera-list{
  display: flex;
}
.filtr-list{
  column-gap:8px;
  margin-bottom:50px ;
  justify-content: center;
}
.galera-list {
  flex-wrap: wrap;
  gap: 30px;
}
/*---галерея---*/
.picpro-container {
  width: 370px;
  padding: 20px 24px;
  margin: 0 auto;
  text-align: left;
  border: 1px solid #EEEEEE;
}

.galera-picname {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
}

.galera-picpro {
  margin-top: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}
/*---кнопки---*/
.filtr-button {
  border-radius:4px;
  border:none;
  padding:6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  background-color: #f5f4fa;
  color: var(--secondary-color);
}
.filtr-button:hover,
.filtr-button:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: var(--alternativ-color);
  background-color: var(--accent-color);
}
.filtr-button.active {
  background-color: var(--accent-color);
  color: var(--alternativ-color);
}
/*^^^кнопки закончились^^^*/


